.contents {
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem 5rem;
}

.size {
    width: 60%;
    margin: 0 auto
}




/* phone-only */
@media (max-width: 599px) {

    .contents {
        padding: 1rem;

    }

    .size {
        width: 100%;
    }
}

/* .tablet-portrait-up  */
@media (min-width: 600px) {
    .contents {
        padding: 1rem;

    }

    .size {
        width: 100%;
    }
}

/* tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    .contents {
        padding: 1rem;

    }

    .size {
        width: 100%;
    }
}

/* tablet-landscape-up */
@media (min-width: 900px) {
    .contents {
        padding: 1rem;

    }

    .size {
        width: 100%;
    }
}

/* tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    .contents {
        padding: 2rem 5rem;

    }

    .size {
        width: 60%;
    }
}

/* desktop-only */
@media (min-width: 1300px) and (max-width: 1799px) {
    .contents {
        padding: 2rem 5rem;

    }

    .size {
        width: 60%;
    }
}

/* big-desktop-up */
@media (min-width: 1800px) {
    .contents {
        padding: 2rem 5rem;

    }

    .size {
        width: 60%;
    }
}